<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: New_Template4 (2014-07-09 11:56)</string>
	<string>M6.5.2-2119-1</string>
	<string>T2.5.2 (1722)</string>
	<string>M6.5.2-2119-1</string>
</array>
</plist>
